- name: Create code directory
  file:
    path: "{{ code_dir }}"
    state: directory

# make sure to clear the packaging dirctory to have a clean slate
- file:
    path: "{{ spec_dir }}"
    state: "{{ item }}"
  loop:
    - absent
    - directory

- name: copy packaging information
  synchronize:
    src: ../packaging/
    dest: "{{ spec_dir }}"

- file:
    path: "{{ srpm_dir }}"
    state: directory

- file:
    path: "{{ rpms_dir }}"
    state: directory

- file:
    path: "{{ mock_dir }}"
    state: directory

- name: copy mock config files
  copy:
    src: "{{ item }}"
    dest: "{{ mock_dir }}"
  loop:
    - /etc/mock/epel-7-x86_64.cfg
    - epel-7-sergiomb.tpl
    - /etc/mock/epel-next-8-x86_64.cfg
    - centos-8-Devel.tpl
    - glusterfs-nightly-repo.tpl

- name: copy fedora mock config files
  copy:
    src: "{{ item }}"
    dest: "{{ mock_dir }}"
  with_fileglob:
    - "/etc/mock/fedora-*-x86_64.cfg"

- name: adapt epel-7 mock config to use additional template
  lineinfile:
    path: "{{ mock_dir }}/epel-7-x86_64.cfg"
    insertafter: EOF
    line: "{{ item }}"
  with_items:
    - "include('{{ mock_dir }}/epel-7-sergiomb.tpl')"
    - "include('{{ mock_dir }}/glusterfs-nightly-repo.tpl')"

- name: adapt epel-next-8 mock config to use additional template
  lineinfile:
    path: "{{ mock_dir }}/epel-next-8-x86_64.cfg"
    insertafter: EOF
    line: "{{ item }}"
  with_items:
    - "include('{{ mock_dir }}/centos-8-Devel.tpl')"
    - "include('{{ mock_dir }}/glusterfs-nightly-repo.tpl')"
