*~
.vagrant
vagrant/ansible/vagrant_ansible_inventory
vagrant/ansible/ssh-config-setup
vagrant/vagrant_ansible_inventory
vagrant/ssh-config-host
vagrant/Vagrantfile
vagrant/ansible/distro-vars.yml
devel/authorized_keys
