Welcome to client1

- The setup contains {{ ctdb_network_public_interfaces|length }} public ip addresses which are accessible from the clients on hostname testhost[0..n]
- There are {{ samba_users|length }} test users available.
- The SMB mounts are available to mount in /test-mnt/<hostname>/<username> and the /etc/fstab entries have already been added.
