private_interfaces:
  {{ private_interfaces | to_nice_yaml | indent(2) }}

public_interfaces:
  {{ public_interfaces | to_nice_yaml | indent(2) }}

exported_sharenames:
  {{ exported_sharenames | to_nice_yaml | indent(2) }}

test_users:
  {{ test_users | to_nice_yaml | indent(2) }}
